*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
button{
    background-color:transparent;
    border:0;
}
ul{
    list-style-type: none;
}
.container{
    margin: 0 120px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}